{% extends 'others/others-template.html' %}


{% block section %}
  <h4>Change password</h4>
  <p> Please enter your dzcover email address: </p>
  <form method="post" class='profile-form col-md-3'>
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn btn-sm btn-default' type="submit">Submit</button>
  </form>
{% endblock %}
