{% extends 'others/others-template.html' %}


{% block section %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post" class='profile-form col-md-3'>
      {% csrf_token %}
      {{ form.as_p }}
      <button  class='btn btn-sm btn-default' type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
