{% if notifications%}
<ul class='list-unstyled'>

{% for notification in notifications %}
 <li class='network-view-card notification-view-card {% if notification.unread %} new-notification{% endif %}' data-username= '{{ person.username }}' data-id ={{notification.id}}>
      <div class='row'>
       <img class='avatar-sm pull-left' src='{{notification.from_user.get_avatar}}'/>
       <p> <a href='{{notification.from_user.get_absolute_url}}'>{{notification.from_user.get_full_name|truncatechars:24}}</a> {{notification.message}}
       <a class='btn notification-remove people-meta'>remove</a> </p>
     </div>
 </li>
{% endfor %}
</ul>
{% else%}
<p class='text-center'>  No notification</p>
{% endif %}
