<ul class='list-unstyled people-card-container'>
  <li class='pull-right'><a class='close-search'> &times;</a></li>
  <br>
{% for person in people %}
 <li class='row people-mini-view-card' data-username= '{{person.username }}'>
     <img class='avatar-sm pull-left' src='{{person.get_avatar}}'/>
      <a href='{{person.get_absolute_url}}'>{{person.get_full_name|truncatechars:20}} </a>
      <p class='info'> {{person.get_profession|truncatechars:20}}</p>
 </li>
 </ul>
{% endfor %}
