<div class='job-card-container'>
<ul >


   {% for job in jobs %}

   <li class='job-card' data-job-id ='{{job.id}}'>
       <p class= 'job-header' >
         <a href='{{job.get_absolute_url}}'><strong> {{job}} </strong></a>
       </p>
       <p class='job-content'><strong>Company:</strong> {{job.company_name}}</p>
       <p class='job-content'><strong>Location:</strong> {{job.get_location}}</p>
       <p class='job-content'><strong>Type:</strong> {{job.job_type}}</p>
       <p class='job-meta'>posted {{job.created_on|date}} by <a href='{{job.user.get_absolute_url}}'>{{job.user.get_full_name}}</a></p>
   </li>
   {% endfor %}
 <ul class="pagination center-block text-center">
    {% if people.paginator.num_pages > 1 %}
     <span class="step-links custom-step-links">
       {% if jobs.has_previous %}
       <a class='btn page-previous' href="?search={{request.GET.search}}&amp;state_and_country={{request.GET.state_and_country}}&amp;city={{request.GET.city}}&amp;job_type={{request.GET.job_type}}&amp;page={{ jobs.previous_page_number }}">previous</a>
       {% endif %}
       {% if jobs.has_next %}
       <a class='btn-sm btn page-next' href="?search={{request.GET.search}}&amp;state_and_country={{request.GET.state_and_country}}&amp;city={{request.GET.city}}&amp;job_type={{request.GET.job_type}}&amp;page={{ jobs.next_page_number }}">next</a>
       {% endif %}
     </span>
     {% endif %}
 </ul>
</ul>
</div>
