{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<div class='col-sm-8 col-sm-offset-2'>
  <p> Brief Article: <a>Posting jobs on Dzcover</a> <i class='icon ion-ios-book-outline'></i></p>
  <hr>
  <form class='job-form' action='' method='post'>
  {% csrf_token %}
  {{ form.non_field_errors}}
  <div class='row'>
    <div class='col-sm-4'>
        <div class="fieldWrapper fieldInput">
              {{ form.company_name.errors }}
              {{ form.company_name.label_tag}}
              {{ form.company_name }}
          </div>
          </div>
          <div class='col-sm-4'>
                <div class="fieldWrapper fieldInput">
                    {{ form.profession.errors }}
                    {{ form.profession.label_tag}}
                    {{ form.profession }}
                </div>
          </div>
          <div class='col-sm-4'>
                <div class="fieldWrapper fieldInput">
                    {{ form.position.errors }}
                    {{ form.position.label_tag}}
                    {{ form.position }}
                </div>
          </div>
          </div>

          <div class='row'>
          <div class='col-sm-4'>
                <div class="fieldWrapper fieldInput">
                    {{ form.city.errors }}
                    {{ form.city.label_tag}}
                    {{ form.city }}
                </div>
          </div>
          <div class='col-sm-4'>
                <div class="fieldWrapper fieldInput">
                    {{ form.job_type.errors }}
                    {{ form.job_type.label_tag}}
                    {{ form.job_type }}
                </div>
          </div>
          </div>

         <div class='row'>
          <div class='col-sm-12'>
                <div class="fieldWrapper fieldInput">
                    {{ form.about_company.errors }}
                    {{ form.about_company.label_tag}}
                    {{ form.about_company }}
                </div>
          </div>
        </div>	  

          <div class='row'>
          <div class='col-sm-12'>
            <div class="fieldWrapper">
                {{ form.description.errors }}
                {{ form.description.label_tag}}
                {{ form.description }}

            </div>
          </div>
          </div>

          <div class='row'>
          <div class='col-sm-12'>
              <div class="fieldWrapper">
                  {{ form.qualification.errors }}
                  {{ form.qualification.label_tag}}
                  {{ form.qualification }}
              </div>
          </div>
          </div>

          <div class='row'>
          <div class='col-sm-6'>
              <div class="fieldWrapper fieldInput">
                  {{ form.more_info.errors }}
                  {{ form.more_info.label_tag}}
                  {{ form.more_info }}
              </div>
          </div>
          </div>

          <div class='row'>
          <div class='col-xs-6'>
              <div class="fieldWrapper fieldInput">
                  {{ form.link.errors }}
                  {{ form.link.label_tag}}
                  {{ form.link }}
              </div>
          </div>
          </div>

        <div class='fieldWrapper col-sm-12'>
          {{form.expiry_day.errors}}
          {{form.expiry_day.label_tag}}
          <h6>Type/select the number of days your job posting should last. We allow job posting with a minimum of a week(7) till 90 days.
          You can always delete the post from your page when the right candidate has been found</h6>
          <div class='row'>
          <div class='col-xs-4 col-sm-2'>
          {{form.expiry_day}} <p class='text-left'> days</span>
          </div>
          </div>
        </div>



          <br>
          <button class='btn btn-default center-block'> Submit </button>
        </form>
        <br>
      </div>
</div>
{% endblock %}
{% block javascript %}
<script>
new TeleportAutocomplete({ el: '#id_city', maxItems: 5 });
</script>
  {%endblock%}
