{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<div class='row'>
  <h3 class='text-center discover-title'>  Discover Jobs </h3>
<div class='col-md-12'>
 <div class='col-md-3'>
    <form class='job-search-form' action='' method = 'get'>
      {{form.non_field_errors}}
      <div class='row'>
       
          <div class='col-xs-8 col-md-12'>
            <div class="fieldWrapper">
              {{ form.city.errors }}
              {{ form.city.label_tag}}
              {{ form.city }}
            </div>
        </div>
        <div class='col-xs-4 col-md-12 '>
          <div class="fieldWrapper filter-jobs">
              {{ form.job_type.errors }}
              {{ form.job_type.label_tag}}
              {{ form.job_type }}
            </div>
        </div>
      </div>
      <div class='row'>
        <br>
        <div class='col-xs-12 col-sm-12'>
            <div class="fieldWrapper form-group form-inline">
              <div class="input-group">
              {{ form.search.errors }}
              {{ form.search }}
              <div class="input-group-btn">
                <button class='btn btn-default btn-sm' type="submit" >
                  <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-search'>
                      <g>
                  <path d="M445 386.7l-84.8-85.9c13.8-24.1 21-50.9 21-77.9C381.2 135.3 310 64 222.6 64 135.2 64 64 135.3 64 222.9c0 87.6 71.2 158.9 158.6 158.9 27.9 0 55.5-7.7 80.1-22.4l84.4 85.6c1.9 1.9 4.6 3.1 7.3 3.1s5.4-1.1 7.3-3.1l43.3-43.8c4-4.1 4-10.5 0-14.5zM222.6 125.9c53.4 0 96.8 43.5 96.8 97s-43.4 97-96.8 97-96.8-43.5-96.8-97 43.4-97 96.8-97z"></path>
                </svg>
              </button>
              </div>
            </div>
            </div>
          </div>
        </div>

    </form>
  </div>

  <div class='col-md-6 search-result'>

   {% if request.GET.search %}
   <h6 class='center-block text-center'><strong> Showing '{{request.GET.job_type}}' Jobs found  for '{{request.GET.search}}'</strong></h6>
   <p class='text-right job-meta'>Found {{total}}</p>
   {% endif %}
     {% if jobs %}
          {% include 'job/all_jobs.html'%}
    {% endif %}
    </div>
  <div class='col-md-3 '>
    <div class='job-feed-container'>

    <h4><i class="icon ion-radio-waves ion-custom-24"></i> Job Feed</h4>

    {% if job_feed %}
      <ul class='list-unstyled'>
       {% for job in job_feed %}
       <li class='job-mini-card' data-job-id ='{{job.id}}'>
          <p><a href='{{job.user.get_absolute_url}}' target='_blank'>{{job.user.get_full_name}} </a> posted a job <b>{{job.created_on|date}}</b></p>
           <p class= 'job-mini-card-header' >
             <a href='{{job.get_absolute_url}}' target='_blank'><strong> {{job}} </strong></a> <span class='job-card-location'> {{job.city}}, {{job.state_and_country}}.</span>
           </p>
           <p><strong>Company:</strong> {{job.company_name}}</p>
       </li>
       {% endfor %}
         <a href = '{% url "job:feed" %}' class='mini-link'>  View All <i class="icon ion-ios-arrow-thin-right"></i></a>
     </ul>
     {% else %}
    <p> No Jobs from your network </p>
     {% endif %}
  </div>
</div>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script>
new TeleportAutocomplete({ el: '#id_city', maxItems: 5 });
</script>


{% endblock %}
