{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
  <h4 class='text-center'><i class="icon ion-radio-waves ion-custom-24"></i> Job Feed</h4>
  <div class='col-md-6 col-md-offset-3'>
  <p class='text-left job-meta'>Found {{total}}</p>
  {% if jobs %}
  {% include 'job/all_jobs.html'%}
  {% endif %}
  </div>
{% endblock %}
