{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<div class='row'>
  <br>
<div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
    <h4> Edit Job</h4>
    <hr>
    <form class='job-form' action='' method='post'>
      {% csrf_token %}
      {{ form.non_field_errors}}
    <div class='row'>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.company_name.errors }}
                            {{ form.company_name.label_tag}}
                            {{ form.company_name }}
                        </div>
      </div>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.profession.errors }}
                            {{ form.profession.label_tag}}
                            {{ form.profession }}
                        </div>
      </div>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.position.errors }}
                            {{ form.position.label_tag}}
                            {{ form.position }}
                        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.state_and_country.errors }}
                            {{ form.state_and_country.label_tag}}
                            {{ form.state_and_country }}
                        </div>
      </div>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.city.errors }}
                            {{ form.city.label_tag}}
                            {{ form.city }}
                        </div>
      </div>
      <div class='col-xs-6 col-sm-4'>
                        <div class="fieldWrapper fieldInput">
                            {{ form.job_type.errors }}
                            {{ form.job_type.label_tag}}
                            {{ form.job_type }}
                        </div>
      </div>
    </div>

    <div class='row'>
    <div class='col-sm-12'>
          <div class="fieldWrapper fieldInput">
              {{ form.about_company.errors }}
              {{ form.about_company.label_tag}}
              {{ form.about_company }}
          </div>
    </div>
   </div>


    <div class='row'>
      <div class='col-xs-12 col-md-12'>
                      <div class="fieldWrapper">
                          {{ form.description.errors }}
                          {{ form.description.label_tag}}
                          {{ form.description }}

                      </div>
    </div>
  </div>

    <div class='row'>
      <div class='col-xs-12 col-md-12'>
                      <div class="fieldWrapper">
                          {{ form.qualification.errors }}
                          {{ form.qualification.label_tag}}
                          {{ form.qualification }}
                      </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-md-6'>
                      <div class="fieldWrapper fieldInput">
                          {{ form.more_info.errors }}
                          {{ form.more_info.label_tag}}
                          {{ form.more_info }}
                      </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-6 col-md-6'>
                      <div class="fieldWrapper fieldInput">
                          {{ form.link.errors }}
                          {{ form.link.label_tag}}
                          {{ form.link }}
                      </div>
      </div>
    </div>


    <button type='submit' class='btn btn-default btn-sm center-block' value='Update'>Update</button>
  </form>

</div>
</div>
</div>
  {%endblock%}
