{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}
{% block body_tag%} class='jobs' {% endblock%}
{% block portfolio-body %}
<div class='col-md-8 col-md-offset-1'>
  <div class='row center-block text-center'>
  <a href='{% url "job:create"%}'>Post a Job <i class='icon ion-ios-plus-empty'></i></a>
</div>
<br>
{% if posted_jobs %}

     <ul class='job-card-container'>
       <p id='job_count'> Jobs: {{total}} </p>
        {% for job in posted_jobs %}
        <li class='job-card' data-job-id = '{{job.id}}'>
            <p class= 'job-header' >
              <a href='{{job.get_absolute_url}}'><strong> {{job}} </strong> </a>
            </p>
                 <p><strong>Company:</strong> {{job.company_name}}</p>
                 <p><strong>Location:</strong> {{job.get_location}}</p>
                 <p class='info-time'>posted {{job.created_on|date}}</p>
                 {% ifequal job.user request.user %}
                 <div>
                     <a class='btn btn-default btn-sm' href= '{% url "job:edit" job_id=job.id %}'> Edit</a>
                     <a class='btn btn-default btn-sm btn-delete-job-post' > Delete </a>
               </div>
               {% endifequal %}
          </li>
        {% endfor %}
        {% if posted_jobs.paginator.num_pages > 1 %}
        <ul class="pagination center-block text-center">

        <span class="step-links custom-step-links">

          {% if posted_jobs.has_previous %}
          <a class='btn-sm btn page-previous' href="?page={{ posted_jobs.previous_page_number }}"><i class="icon ion-ios-arrow-thin-left"></i> <strong>Prev </steong></a>
          {% endif %}


          {% for page in custom_page_range %}

          {% ifequal posted_jobs.number page %}
          <a class='btn-sm page-number active-page-number' href="?page={{ page}}"> {{page}}</a>
          {% else %}
          <a class='btn-sm page-number' href="?page={{ page }}"> {{page}} </a>
          {% endifequal %}

          {% endfor %}

          {% if posted_jobs.has_next %}
          <a class='btn-sm btn page-next' href="?page={{ posted_jobs.next_page_number }}"><strong>Next </steong><i class="icon ion-ios-arrow-thin-right"></i></a>
          {% endif %}

        </span>
       </ul>
       {% endif %}
     </ul>
     {%else%}
     <p class='text-center'> No Posted jobs </p>
     {% endif %}
  </div>

  <div class='col-md-3 ads-container'>

    <div class='row ads-container'>
      {% include 'ads.html'%}
    </div>
  </div>

  {%endblock%}
