{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}

<div class='col-md-8 col-md-offset-1'>
      <div class='job-card-container'>
           <div class='job-card  view-job-card' data-job-id ='{{job.id}}'>
              <div class= 'job-header' >
              <h3><strong> {{job}} </strong></h3>
              <div class='job-section'>
              <p><strong>Company: </strong>{{job.company_name}}</p>
              </div>
              <div class='job-section'>
              <p><strong>Job Type: </strong>{{job.job_type}}</p>
              </div>
	      <div class='job-section'>
                <p><strong>About {{job.company_name}} </strong></p>
                <p class='job-content'>{{job.about_company}}</p>
              </div>
              <div class='job-section'>
              <p><strong>Description </strong></p>
              <p class='job-content'>{{job.description}}</p>
              </div>
              <div class='job-section'>
              <p><strong>Qualification </strong></p>
              <p class='job-content' >{{job.qualification}}</p>
              </div>
              <div class='job-section'>
              {% if job.more_info %}
              <p><strong>More</strong></p>
              <p class='job-content'>{{job.more_info}}</p>
              {% endif %}
              </div>
              {% if job.link %}
              <div class='job-section'>
              <p class='job-content'><a href='{{job.link}}'> Go to Job </a></p>
              </div>
              {% endif %}


            </div>
          </div>
        </div>
    </div>


<div class='col-md-3 ads-container'>

  <div class='row'>

    <h5 class='text-center'> Ads </h5>
    <div class='well asd_arnd_u'>
    </div>
  </div>
</div>




{% endblock %}
