{% extends 'others/others-template.html' %}


{% block section %}
<div>
<h2><strong>Welcome</strong></h2>
<h4>We believe everyone needs a platform to express themselves.</h4>
<h5>we aim to provide you with the right tools and access to secure jobs around you.</h5>
<br>
<h4> One Step away... </h5>
<br>
<h3><strong> Confirm Email</strong> </h3>
<p> Thanks for signing up {{user.first_name }}. We are glad to have you!!.</p>
<p> To activate your account check your email for the <strong>verification link</strong> we sent. </p>
<br>

<p> All yours,</p>
<p> Dzcover.</p>
</div>
{% endblock %}
