{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css%}
<link href= "{% static 'css/welcome.page.css' %}" rel='stylesheet' type='text/css'>
{%endblock%}
{% block header %}
  <img src="{% static 'images/logo/small-logo.png'%}" width="50" height="50" alt="">
  DZCOVER
<br>
<div class='row text-center'>
   <h2><strong>A platform for you </strong> </h2>
<br>
<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1'>
<form class='form-inline LoginForm ' action='/' method='post'>
    {% csrf_token %}
<br>
   <div class='message-block'>
     {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %}
            {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
     {% endif %}
   </div>
    {{login_form.non_field_errors}}
   
    <div class='form-group'>
      <div class="fieldWrapper">
           <label class ='sr-only' for= 'email'> Email </label>
          {{ login_form.email.errors }}
          {{ login_form.email }}
      </div>
   </div>
   <div class='form-group'>
     <div class="fieldWrapper">
           <label class ='sr-only' for= 'password'> Password </label>
          {{ login_form.password.errors }}
          {{ login_form.password }}
     </div>
   </div>

     <button type='submit' class='btn btn-sm btn-default' name='login' value='login'>Log in</button>
     
     <a href='{% url "password_reset" %}' class='forgot-account'> Forgot password? </a>
</form>
</div>
</div>
{% endblock %}

  {% block mainarticle %}
  <br>
  <div class='row'>
    <div class='row text-center'>
      <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>

        <form class='SignUpForm ' action='{% url "signup" %}' method='post'>
           <div class='row text-center'>
            <h4> or </h4>
            <h3><strong>Sign Up</strong></h3>
           <h5> All your needs in one-place </h5>
           <h5> ..and we've started with Jobs </h5>
         </div>
	
          {% csrf_token %}
         <div class='row ' id='signup'>
          {{sign_up_form.non_field_errors}}
          <div class='col-sm-12 form-errors'>
            {{ sign_up_form.first_name.errors }}
            {{ sign_up_form.last_name.errors }}
            {{ sign_up_form.email.errors }}
            {{ sign_up_form.password.errors }}
            {{ sign_up_form.username.errors }}
          </div>
        <div>
          <div >
            <div class="fieldWrapper">
                <label class ='sr-only' for= 'first_name'> First Name </label>
                {{ sign_up_form.first_name }}
            </div>
          </div>
      <div >
        <div class="fieldWrapper">
          <label class ='sr-only' for= 'last_name'> Last Name </label>
            {{ sign_up_form.last_name }}
        </div>
      </div>
      <div >
    <div class="fieldWrapper ">
        <label class ='sr-only' for= 'password'> Password </label>
        {{ sign_up_form.password }}
    </div>
    </div>

      <div >
        <div class="fieldWrapper" id='fieldWrapperAddField'>
          <label class ='sr-only' for= 'add_field'> Add Field </label>
          <input type='text' name='add_field' placeholder='Dont Fill' id='id_add_field'>
        </div>
      </div>



      <div >
        <div class="fieldWrapper ">
          <label class ='sr-only' for= 'email'> Email </label>
            {{ sign_up_form.email }}
        </div>
      </div>


      <div >
          <!-- <a>www.dzcover.com/view/<span class='insert_urlname'>{% if request.POST.username%}{{request.POST.username}}{% else%}username{% endif %}</span></a>
            <h6 class='username-help'> Can consist of numbers, letters and an underscore</h6> -->
           <p class='text-left' id='check_username'> </p>
      </div>
      <div class="fieldWrapper ">
        <div >
            <label class ='sr-only' for= 'urlname'> username </label>
            {{ sign_up_form.username }}

        </div>
      </div>
    </div>

      <div class='row text-center'>
        <p class='register-info'> By signing up you agree to our <a href='{% url "terms" %}'>terms</a> and <a href='{% url "terms" %}'>user privacy</a>.</p>
        <button type='submit' class='btn btn-default center-block' name='signup' value='signup'>Sign Up</button>
      </div>
      </div>
      </form>
      </div>
  </div>

  {% endblock %}
  {% block javascript %}

  {% endblock %}
