html{
   height: 100%;
 }

body {
    padding-top: 80px;
    height:100%;
  }

.nav-container{
    background: #136a8a;
}

.nav-container  .nav li{
    display: inline-block;
}

.nav-dzcover .navbar-header a{
  color: white !important;
}

.navbar-tools li{
    padding-top: 10px;
  }

/*.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}*/

#footer{
    background: none;
    display:block;
}

.quicksearch-form input{
  border: solid 1px #eee;
  line-height: 24px;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  width: 250px;
}
.quicksearch-result-container{
  position: relative;
  color: black;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.notification-box{
  position:fixed;
  bottom: 0;
  right:0;
  width: 300px;
  border: 1px solid #ccc;
  background: white;
  z-index: 1000;
}
#notification-view{
padding: 10px 25px;  
height: 300px !important;
  overflow-y: auto !important;
  overflow-x : hidden;
  /*display:none;*/
}
#notification-toggle{
    color: black;
    /*font-weight: 700;*/
    letter-spacing: 0.1em;
    text-decoration: none;
}
.notification-view-card{
    display: block;
    margin-bottom: 10px;
}
#quicksearch-result{
    position:absolute;
    z-index: 1000;
    display: none;
    background: white;
    padding: 0 10px 0 10px;
    top: 7px;
    box-shadow: 1px 1px 10px #ddd;
    left: 0;
    right:0;
    width: 80%;
    margin: 0 auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

}
