body{
  background: white !important;
  color: black;
  padding: 10px;
}
nav{
    background: #136a8a;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: white;
  text-decoration: none;
  /*cursor: default;*/
}
