body.home  a.home,
body.notes  a.notes,
body.album  a.album,
body.jobs a.jobs  {
/**your custom styles here**/
   color: black;
   /*border-bottom: #136a8a solid 1px !important;*/
   border-bottom: black solid 1px;


}

body.home  a.home .ion,
body.notes  a.notes .ion,
body.album  a.album .ion,
body.jobs a.jobs .ion {
  fill: #136a8a;
  /*color: */
}
.profile-name{
  color: black;
  padding: 10px;
}
#portfolio-name {
  color: black;
  cursor: default;
}
#portfolio-name:hover{
  background: none;
}

#nav-portfolio-container{
  overflow: hidden;
}
.nav-portfolio>li{
  display:inline-block;
}

.nav-portfolio a{
  color: inherit;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.portfolio-header, .section-header{
  font-weight: 100;
  font-size: 2.2em;
  letter-spacing: 0.05em;
}
.user-intro{
    margin-top: 10px;
    font-size: 1.6em;
    white-space: pre-line;
}
.portfolio-icon{
  margin-right: 8px;
  color: #555;
}

.portfolio-actions .btn{
  margin-right: 10px;
}
.portfolio-icon:hover{
  text-decoration: none;
}

.portfolio-social-icon{
  margin-top: 60px;
}
.portfolio-social-icon >li{
  margin: 30px 5px;
}
.ion-social-active{
  fill:rgb(51, 122, 183) ;
  stroke:rgb(51, 122, 183);
}

.portfolio-social-icon >li:hover {
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
}

.tool{
    display:inline-block;
}

.tool > a {
  color: #777;
  text-decoration: none;
}

.profile-info a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}
/*.about-me-container{
  text-align: justify;
}*/
.about-me-header{
  clear: both;
  font-size: 15px;
}
.about-me-section{
  /*padding:5px;*/
  clear:both;
  /*margin-bottom:10px;*/
  display:block;
  /*border: #eee solid 1px;*/
  /*border-radius: 3px;*/
  padding: 5px 0;
  /*box-shadow: 1px 1px 10px #eee;*/
}
.about-me-detail{
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
}

#new-note{
  padding: 10px;
}

.profile-tool{
  margin: 0 5px;

}
.profile-tool a{
  color: white;
}
.profile-head{
  background: #136a8a;
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
 background: linear-gradient(to left, #136a8a, #267871);
 padding: 20px;
 color: white;
}

.recommended-container{
  padding: 10px;
}

.img-round-container{
  border: 2px solid white;
}

