* {
    padding: 0 ;
    margin: 0;
    border:0 ;
    padding: 0px;
    box-sizing: border-box ;
    -webkit-box-sizing: border-box ;
     -moz-box-sizing: border-box ;
          box-sizing: border-box ;
}

html {
width : 100%;
}
body{
   background-color: white;
   color: #777;
   font-family: 'Quicksand','sans-serif';
   padding: 10px;
   width: 100%;
   
	
}

a:hover {
  cursor: pointer;
}



.errorlist{
  list-style: none;
  font-size: 11px;
}
.errorlist li{
  font-size: 11px;
  text-align: justify;
  color: red;
}

.job-search-form input{
  border: solid #ccc 1px !important;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  outline: none;

}

.job-search-form label{
  margin:5px;
  display: block;
}

/*in use*/
.profile-form input, .job-form input{
  border: solid #aaa 1px !important;
  margin-bottom:15px;
  padding: 3px;
  width: 100%;
  border-radius: 3px;
}
.profile-form textarea, .job-form textarea{
  border:solid #aaa 1px;
  width: 100%;
  margin-bottom: 15px;
}

.Job-form{
    padding: 15px;
    margin-bottom: 20px;
}
.job-form textarea{
  width: 100%;
}

.job-form input,.job-form textarea {
    margin-bottom: 15px;
}

#id_field{
  list-style:none;
}
#id_field input{
  margin: 0;
  padding:0;
}

.tp-ac__input{
    -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     -o-background-color: initial !important;        
box-shadow: none !important,
  -webkit-background-color: initial !important;
  -moz-background-color: initial !important;
  -o-background-color: initial !important;
background-color: initial !important;

}
#id_city + ul{
  z-index: 1000 !important;
}

#id_field li{
  width: 100%;
  display: block;
}
#fileSuccess, #fileError, #clearImage{
  display:none;
}

.people-mini-view-card{
  padding: 5px;
  border-bottom: solid 1px #ddd ;
  font-size: 13px;
  margin: 0;
}

.people-card-container{
  margin:0;
}


.info{
  font-size: 12px;
}

.profile-view-container, .people-view-container{
  background: white;
  padding: 5px 10px;
  min-height: 700px;

}

.profile-view-container form input{
  width: 80%;
  float: left;
}
.people-container{
  margin-top: 5px;
  padding: 20px;
  min-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.person-card{
  padding: 10px;
  overflow: hidden;
  font-size: 11px;
}
.person-card{
  margin-bottom: 10px;
  height: 200px;

}

.person-card-image{
  height: 100px;
  line-height: 100px;
}

.person-info{
  color: #888;
}

.profile-card{
  border-bottom: solid 1px #ddd ;
  overflow: hidden;
  font-size: 11px;
  padding-bottom: 5px;
}


.content {
  min-height: 80vh;
}

#footer{
  display:block;
  margin: 30px 0;
}


#copyright{
    text-align: center;
    letter-spacing:0.5px;
}


.discover-people-form input{
  float:left;
  border-radius: 0;
  outline: none;
}

.profile-info-title{
  font-size: 11px;
}
.avatar{
  border-radius: 50%;
  height: 200px;
  width:200px;
}
.avatar-sm{
  height: 50px;
  width:50px;
  border-radius: 50%;
  margin: 5px;
}

.avatar-md{
  height: 120px;
  width:120px;
  border-radius: 50%;
  margin: 0 5px 5px 5px;
}
.cropper-view-box,.cropper-face {
      border-radius: 50%;
      border: #39f solid 1px;
}

.job-content{
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
  font-size: 13px;
}

/*job-post app*/
.job-feed-container{
  background: white;
  padding: 5px 10px;
}
.jobpost-info-container{
  padding: 20px;
  color: black ;
}

.form-text{
  color: rgb(51, 122, 183)
}

.job-card-container{
  margin-bottom: 10px;
}

.job-card{
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    overflow: auto;
    background: white;
    word-wrap: break-word;
}
.job-header{
  font-size: 17px;
}
.info-time{
  font-size:13px;
}

.job-mini-card{
  margin: 10px 0;
  border-bottom: solid 1px #ccc;
  font-size: 11px;
  overflow: auto;
  background: white;
  word-wrap: break-word;

}
.mini-link{
  font-size: 11px;
}

.note-form label{
  display: block;
}
.note-form input{
  border-bottom: solid #ccc 1px;
  width: 100%;
  outline: none;
  padding: 5px;
  margin-bottom: 10px;

}
.profile-form #id_about_me{
  overflow-y: scroll;

}

.note-form #id_content{
overflow-y: auto;
}

.note-form textarea{
width: 100%;
margin-bottom:15px;
padding: 5px;
outline: none;
}

.note-meta, .job-meta, .people-meta{
  font-size: 11px;
}
.job-section{
  margin: 30px 0;
  text-align: justify;
}

.job-mini-card-header{
  font-size: 13px;
  color: black;
}

.job-card-location{
    margin-left: 5px;
    font-size: 10px;
}

#jobsfound li {
    list-style: none;
}

/*for people found*/
#peoplefound li {
    list-style: none;
}


.profile-sm-card, .person-search-card{
    padding: 10px;
    overflow: auto;
    border-bottom: solid 1px #ccc;
    word-wrap: break-word;
    background: #fff;
}
.person-header{
    font-size: 10px;
    color: black;
}
.person-search-card a{
  cursor: pointer;
}


.person-card-location{
     font-size: 8px;
}

.fieldWrapper > label{
    width: 100%;
}
.fieldInput > input{
    width: 100%;
}
.fieldTextArea > textarea{
    width: 100%;
    border: solid #ccc 1px;
    border-radius: 3px;
    line-height: 3rem;
    font-size: 12px;
    margin: 10px 0;
    padding-left: 5px;
    min-height: 100px;
    text-align: justify;
}

.custom-step-links{
  padding: 10px;
}
.page-number{
  color: rgb(51, 122, 183);
  font-size :14px;
  border-radius: 0;
}
.page-previous, .page-next{
  margin: 0 10px;
}
.page-number:hover{
  color: black;
  text-decoration: none;
}
.active-page-number{
  color: black;
  text-decoration: none;

}

.ion-custom-24{
  font-size: 24px;
}
.ion-custom-18{
  font-size: 18px;
}
.photo-card{
  margin-bottom: 50px;
  padding: 10px;
}
.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo-info{
  background: white;
  padding: 10px;
  line-height: 15px;
  margin-top:5px;
}

.discover-title{
  font-family: 'Josefin Sans', sans-serif;
}

.svg-icon> svg{
  fill: white;
}

.note-column{
  min-height: 500px;
  margin: 20px 1px;
}
.note-card{
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: solid 1px #ccc;
}
.note-header{
  display: block;
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  word-spacing: 0.1em;
}

.note, .note-content{
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
  padding: 10px 0;
}


.note-tool{
  margin:0 10px;
}

.ion-28 {
  width: 28px;
  height: 28px;
}

.ion{
  display: inline-block;
  stroke-width: 0;
  stroke: black;
  fill: black;
}

.ion-24{
  width: 24px;
  height: 24px;
}

.ion-18{
  width: 18px;
  height: 18px;
}
.ion-15{
  width: 15px;
  height: 15px;

}
.ion-26{
  width: 26px;
  height: 26px;

}

@media screen and (max-width : 480px) {
  body{
    font-size: 12px;
    padding:5px;
    width: 100%;
  }
  .notification-box{
    position:fixed;
    bottom: 0;
    right:0;
    left:0;
    width: 100% !important;
    border: 1px solid #ccc;
    background: white;
    z-index: 1000;

  }

}

.ads-container{
  min-height: 200px;
  display: block;
}
@media only screen and (max-width : 1024px) {
  .ads-container{
    display:none;
  }
  .job-feed-container{
    display:none;
  }

}
