 body {
  /*background: url('../images/background/welcome-page-aircraft.jpg') no-repeat center center;*/
  /*background: linear-gradient(#e0eafc,#cfdef3 );*/
  background: #136a8a;
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
  background: linear-gradient(to left, #136a8a, #267871);
  /*background: #ece9e6;
 background: -webkit-linear-gradient(to left, #ece9e6, #ffffff);
 background: linear-gradient(to left, #ece9e6, #ffffff);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
 
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

a{
  color: lavender;
}

.login-info,.register-info{
  font-size: 11px;
  margin-top: 10px;
}
#signup{
  padding: 20px;

}
.SignUpForm h3, .register-info{
  margin-left:3px;

}
.SignUpForm h3{
    /*text-shadow: 1px 1px 1px #eee;*/

}

.SignUpForm{
 
  padding: 20px;
}
.SignUpForm input {
  border: #ccc 1px solid;
  border-radius: 3px;
  width: 100%;
  display: block;
  padding:5px;
  margin: 10px 0;
  line-height: 25px;
  background-color: transparent;
}


#id_add_field{
  display: none;
}

#fieldWrapperAddField{
   display: none;

}

.input-custom-addon{
  background: none;
  border: none;
}


.LoginForm input{
  border: solid #ccc 1px !important;
  border-radius: 3px;
  font-size: 12px;
  margin: 10px 3px;
  float:left;
  padding: 5px;
  background: transparent;
  color: white !important;
  /*width: 100%*/
}

.forgot-account{
  display: block;
  font-size: 11px;
  margin-top: 15px;
}


@media only screen and (max-width: 430px) {
  body {
       width: 100%;
       padding: 10px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
	background-size: cover;
      background-size: cover;
      background-attachment: fixed;
     overflow-x: hidden;


  }
@media all and (max-width: 639px) and (min-width: 430px) {
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
}
