{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}
{% block body_tag%} class='notes' {% endblock%}
{% block portfolio-body %}


<div class='col-xs-12 col-md-9'>
  <p class='portfolio-header'> Notes </p>
  <h5><strong>Write Once. Share Everywhere.</strong> </h5>
  <br>
  <div>

  {% ifequal view_user request.user %}
  <a href='{% url "notes:create" username=request.user.username %}'>Create a Note </a>
{% endifequal %}
      <div class='row note-column'>
        <!-- <p>Notes: <span id='total_notes'> {{total}} </sapn></p> -->
      {% if notes%}

      <ul class='list-unstyled list-inline'>
          {% for note in notes %}
          <li class='note-card col-xs-12' data-id='{{note.id}}' data-url='{{note.get_full_absolute_url}}'>
              <a href='{{note.get_absolute_url}}' class='note-header'><strong>{{note.title}}</strong></a>
              <p class='note-content'>{{note.content|truncatechars:200}}</p>

            <ul class='list-unstyled list-inline note-meta note-footer'>
                <li> {{note.created_on|date}}</li>
                <li> {{note.count_views}}</li>
              </ul>
              <br>
              <ul class='list-unstyled list-inline note-meta note-footer'>
                <div class='dropdown' style='display:inline-block'>
                  <a class='btn btn-sm btn-default note-tool' data-toggle='dropdown' > Share</a>
                  <div class='dropdown-menu'>
                   <li><a href="https://twitter.com/home?status=Check%20out%20{{note.user.first_name}}%20notes%20on%20dzcover%20{{note.get_full_absolute_url}}" target='_blank'>Share note on Twitter</a></li>
                   <li><a href="https://www.facebook.com/sharer/sharer.php?u={{note.get_full_absolute_url}}" target='_blank'>Share note on Facebook</a></li>
                   <li><a class='copy-note-link'>Copy link</a></li>
                  </div>
                </div>
                {% ifequal request.user note.user %}
                <li class='note-tool'><a href='{% url "notes:edit" username=note.user.username pk=note.id%}' class='btn btn-sm btn-default'>
                    Edit
                </a>
                </li>
                <li class='note-tool'><a class='delete-note btn btn-sm btn-default' > Delete</a></li>
                {% endifequal %}
              </ul>
          </li>
          {% endfor %}
              {% if notes.paginator.num_pages > 1 %}
              <ul class="pagination center-block text-center">

              <span class="step-links custom-step-links">

                {% if notes.has_previous %}
                <a class='btn-sm btn page-previous' href="?page={{ notes.previous_page_number }}"><i class="icon ion-ios-arrow-thin-left"></i> <strong>Prev </steong></a>
                {% endif %}


                {% if notes.has_next %}
                <a class='btn-sm btn page-next' href="?page={{ notes.next_page_number }}"><strong>Next </steong><i class="icon ion-ios-arrow-thin-right"></i></a>
                {% endif %}

              </span>
             </ul>
             {% endif %}
    </ul>
    {% else %}
      <!-- <br>
      <p class='text-center'>No Notes <i class='icon ion-ios-book-outline'></i> </p> -->
    {% endif %}



    </div>

    <div class='modal' id ='link-modal'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
          </div>
          <div classs='modal-body'>
            <a id='note-link'> hey</a>
          </div>
          <div class='modal-footer'>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
<div class='col-md-3 ads-container'>
  {% include 'ads.html'%}
</div>


{% endblock %}
