{% extends 'users/container.html'%}
{% load static from staticfiles%}
{% block mainarticle %}

<div class='col-xs-12 col-md-9'>
  <br>
  <div class=' col-md-12 text-justify'>
      <a href='{{note.get_full_absolute_url}}' class='note-header'><strong>{{note.title}}</strong></a>
      <p class='note-content'>{{note.content}}</p>
	<br>
	 <div class='dropdown' style='display:inline-block'>
          <a class='btn btn-sm btn-default' data-toggle='dropdown' > Share</a>
            <div class='dropdown-menu'>
              <li><a href="https://twitter.com/home?status=Check%20out%20{{note.user.first_name}}%20notes%20on%20dzcover%20{{note.get_full_absolute_url}}" target='_blank'>Share note on Twitter</a></li>
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{note.get_full_absolute_url}}" target='_blank'>Share note on Facebook</a></li>
              <li><a data-toggle='modal' data-target='#copy-link-modal'>Copy link</a></li>
             </div>
           </div>
      <div>
	
	<br>

      <img src='{{note.user.get_avatar}}' class='avatar-sm'>
      <p>by <a href='{{note.user.get_absolute_url}}'>{{note.user.get_full_name}}</a></p>
     </div>


      <ul class='list-unstyled list-inline'>
        <li>{{note.created_on|date}}</li>
        <li> {{note.count_views}}</li>
      </ul>



  </div>
</div>




<div class='modal' id ='copy-link-modal'>

<div class='modal-dialog'>
 <div class='modal-content'>
   <div class='modal-header'>
   </div>
   <div classs='modal-body'>
   Link:   <a>{{note.get_full_absolute_url}} </a>
   </div>
   <div class='modal-footer'>
   </div>
 </div>
</div>
</div>


<div class='col-md-3 ads-container'>

    {% include 'ads.html'%}

</div>

<br>


{% endblock %}
