{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<div class='col-xs-12 col-md-9'>
  <h3>Your Note</h3>
  <br>
<div id='new_note'>
  <form action='' method="POST" class='note-form'>
    {% csrf_token%}
    <div>
      <div class='fieldWrapper'>
        {{ form.title.errors }}
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
    </div>
      <div class='fieldWrapper'>
        {{ form.content.errors }}
          <label class ='sr-only' for= 'content'> Content </label>
        {{ form.content }}
      </div>
    <button type='submit' class='btn btn-sm btn-default'>Save</button>
  </form>

</div>
</div>

<div class='col-md-3 ads-container'>
    {% include 'ads.html' %}
</div>

{% endblock %}

