{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}
{% block body_tag%} class='album' {% endblock%}
{% block portfolio-body %}


<div >
  <div class='col-xs-12 col-md-8'>
  <p class='portfolio-header'> Photos </p>
  {% ifequal request.user view_user %}
  <div>
    <a>
      <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-24' viewBox="0 0 512 512"  id='ion-ios-trash-outline'>
          <g>
          <path d="M288 144v16h112v272H112V160h112v-16H96v304h320V144z"></path><path d="M193.1 118.1l-11.6-11.6L256 32l74.5 74.5-11.6 11.6-54.7-54.7v243h-16.4v-243z"></path>
       </g>
     </svg>Upload</a>
  </div>
  <div class='fieldWrapper'id='upload-photo' >
    <form action='' method="post" enctype="multipart/form-data" id="formUpload">
      {% csrf_token %}
        <ul class='list-unstyled'>
          <li class='row'>
            <br>
            <div class='col-md-6'>
              {{form}}
              <br>
              <button class='btn btn-sm btn-default'> ok </button>
              </div>
          </li>
          <li id='fileError' class='row'></li>
      </ul>
    </form>
  </div>

{% endifequal %}

    <br>
  <div class='row'>
   <div class='col-xs-12 col-md-7'>
       <p>Photos : <span id='total_photos'> {{total}} </span></p>
    {% if album%}
      <ul class='list-unstyled'>

      {% for upload in album %}

      <li class='row photo-card' data-username='{{upload.user.username}}' data-photo-id='{{upload.id}}'>
            <div class='text-center'>
              <img class='img-responsive img-center' src="{{ upload.photo.url }}">
            </div>

            <div class='photo-info'>
              {% if upload.caption%}
              <p class='text-justify'> {{upload.caption}} </p>
              {% endif %}
              <p> {{upload.created_on|date}} </p>
              {% ifequal view_user request.user %}
                <a class='btn btn-default btn-sm delete-photo' >
                  <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-ios-trash-outline' aria-labelledby="title-delete">
                    <title id='title-delete'> Delete </title>
                      <g>
                      <path d="M400 113.3h-80v-20c0-16.2-13.1-29.3-29.3-29.3h-69.5C205.1 64 192 77.1 192 93.3v20h-80V128h21.1l23.6 290.7c0 16.2 13.1 29.3 29.3 29.3h141c16.2 0 29.3-13.1 29.3-29.3L379.6 128H400v-14.7zm-193.4-20c0-8.1 6.6-14.7 14.6-14.7h69.5c8.1 0 14.6 6.6 14.6 14.7v20h-98.7v-20zm135 324.6v.8c0 8.1-6.6 14.7-14.6 14.7H186c-8.1 0-14.6-6.6-14.6-14.7v-.8L147.7 128h217.2l-23.3 289.9z"></path><path d="M249 160h14v241h-14zM320 160h-14.6l-10.7 241h14.6zM206.5 160H192l10.7 241h14.6z"></path>
                      </g>
                </svg>
              </a>
              {% endifequal %}
            </div>
        </li>
          {% endfor %}
          {% if album.paginator.num_pages > 1 %}
          <ul class="pagination center-block text-center">

          <span class="step-links custom-step-links">

            {% if album.has_previous %}
            <a class='btn-sm btn page-previous' href="?page={{ album.previous_page_number }}"><i class="icon ion-ios-arrow-thin-left"></i> <strong>Prev </steong></a>
            {% endif %}
            {% if album.has_next %}
            <a class='btn-sm btn page-next' href="?page={{ album.next_page_number }}"><strong>Next </steong><i class="icon ion-ios-arrow-thin-right"></i></a>
            {% endif %}

          </span>
         </ul>
         {% endif %}

    </ul>
    {% else %}
      <br>
      {% ifequal request.user view_user%}
      </h4>
      {% endifequal %}
    {% endif %}
  </div>

</div>
</div>
<div class='col-sm-3 ads-container'>
  {% include 'ads.html'%}
</div>
</div>
{% endblock %}
