{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}

{% block portfolio-body %}

<div class='row'>
  <div class='col-xs-12 col-md-9'>
    <div class='text-center profile-head'>
      <div class='row'>
      <img class='avatar-md img-round-container' src='{{view_user.get_avatar}}'/>
      </div>
        <h4><strong>{{view_user.get_full_name}}</strong></h4>
        <p>{{view_user.get_location}}</p>
        <ul class='list-inline list-unstyled profile-info'>
            <li class='profile-tool'><a href='{% url "view_network" username=view_user.username%}'>

              <span class='center-block {% ifequal request.user view_user %}network-count{% endifequal %}'><strong>{{view_user.count_network}}</strong> </span>
              <span></strong>Connects</strong> </span>
            </a></li>
            <li class='profile-tool'><a href = '{% url "view_recommended" username=view_user.username%}' >

              <span class='center-block {% ifequal request.user view_user %}recommendation-count{% endifequal %}'><strong>{{view_user.count_recommended}}</strong></span>
              <span></strong>Recommends</strong> </span>

	</a></li>
        </ul>
  </div>


    <div class='col-xs-12'>
      <div class='about-me-section'>
          <h5><strong> What i do</strong></h5>
        <p>{{view_user.profession}}</p>
      </div>

    <div class='about-me-section'>
      <h5><strong> Currently </strong></h5>
      <p> {{view_user.get_current_job}}</p>
    </div>

    <div class='about-me-section'>
      <h5><strong>About Me</strong></h5>
      {{ view_user.get_about_me|urlize}}
</div>
</div>
</div>

<div class='col-xs-12 col-md-3'>
  <div class='ads-container'>
    {% include 'ads.html' %}
  </div>
  <div class='recommended-container'>
    <h5>{% ifequal view_user request.user %}You {% else %}{{view_user.first_name|title}} {%endifequal%}Recommended</h5>
      {% if recommendation %}
      <ul class='list-unstyled'>
      {% for person in recommendation %}
        <li>
          <div class='profile-sm-card'>

              <img class='avatar-sm pull-left' src='{{person.get_avatar}}'
              />

            <div class='person-header'>
                <a href='{{person.get_absolute_url}}'> <strong> {{person.get_full_name}}</strong></a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
        {% else%}
        {% ifequal view_user request.user %}
      <div >
        <p class='text-justify'> Hi {{ view_user.first_name }}, you can recommend up to 20 people on your page.</p>
        <a href='{%url "view_network" username=view_user.username%}'>recommend from your connections?</a>
        {% else %}
        <p > No recommended user.</p>
      </div>

        {% endifequal %}
        {% endif %}


</div>
</div>
</div>




{% endblock %}

