{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}

{% block portfolio-body %}
<div class='col-xs-12 col-md-9'>
  <div class='row'>
    <h4> Account Details </h4>
    <p><strong> User : {{view_user.get_full_name}} </strong></p>
    <p><strong> Email : {{view_user.email}} </strong></p>
    <p><strong> Date Joined : {{view_user.date_joined|date}} </strong></p>
    <p><strong> Active : {{view_user.is_active}} </strong></p>
    <p><strong> Job Poster : {{job_poster}} </strong></p>
    <p> <a href='{% url "delete_account" username=view_user.username %}'> Delete Account </a> please note deletion of account takes up to a week to process. Your account will be inactive during this process. </p>
    <p> People will still be able to access your profile during this time. </p>
    <P> To reactivate your account during this 7 day period send an email to <a>support@dzcover.com</a>. </p>
    <p> If there is a need for <strong> Immediate </strong> deletion of account please send a request with your dzcover email to <a>support@dzcover.com</a> </p>

  </div>
</div>
{% endblock %}
