{% extends 'base.html' %}
{% load static from staticfiles%}

{% block css%}
<link href= "{% static 'css/container.css' %}" rel='stylesheet' type='text/css'>
{% block add-css%}
{% endblock%}
{% endblock%}

{% block navigation%}
<nav class="navbar navbar-default navbar-fixed-top nav-container nav-dzcover">
  <div class="container">
    <div class='navbar-header center-block text-center'>
      <ul class="nav navbar-nav " >
        <li><a href="{% url 'index' %}">
          <div class="svg-icon">
            <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-person' aria-labelledby="title-you desc-you">
              <title id='title-you'> You </title>
              <desc id='desc-you'> Your Page </desc>
              <g>
            <path d="M448 448s0-26.4-2.2-40.2c-1.8-10.9-16.9-25.3-81.1-48.9-63.2-23.2-59.3-11.9-59.3-54.6 0-27.7 14.1-11.6 23.1-64.2 3.5-20.7 6.3-6.9 13.9-40.1 4-17.4-2.7-18.7-1.9-27 .8-8.3 1.6-15.7 3.1-32.7 1.8-21-17.7-76.3-87.6-76.3-69.9 0-89.4 55.3-87.5 76.4 1.5 16.9 2.3 24.4 3.1 32.7.8 8.3-5.9 9.6-1.9 27 7.6 33.1 10.4 19.3 13.9 40.1 9 52.6 23.1 36.5 23.1 64.2 0 42.8 3.9 31.5-59.3 54.6-64.2 23.5-79.4 38-81.1 48.9C64 421.6 64 448 64 448h384z"></path>
             </g>
          </svg>
        </div>
        <span>You</span></a>
      </li>

      <li><a href="{% url 'job:discover_jobs' %}" >
        <div class="svg-icon ">
          <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-briefcase' aria-labelledby="title-jobs desc-jobs">
            <title id='title-jobs'> Jobs </title>
            <desc id='desc-jobs'> Search for Jobs </desc>
          <g>
          <path d="M272 272h-32v-8H32v176c0 4.4 3.3 8 7.8 8h432.5c4.4 0 7.7-3.6 7.7-8V264H272v8zM472.2 144H352v-30.7C351 85.1 330.3 64 300.8 64h-89.6c-29.4 0-50.2 21.1-51.2 49.3V144H39.8c-4.4 0-7.8 3.6-7.8 8v96h208v-8h32v8h208v-96c0-4.4-3.3-8-7.8-8zM320 116.2V144H192v-26.8-1-1c0-9.7 8.6-19.2 18.8-19.2h90.4c10.1 0 18.8 9.4 18.8 19.2v1z"></path>
          </g>
        </svg>
      </div>
      <span>Jobs</span>
      </a>
      </li>

      <li><a href="{% url 'discover_people' %}">
            <div class="svg-icon">
            <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-people-b' aria-labelledby="title-people desc-people">
                <title id='title-people'> People </title>
                <desc id='desc-people'> Search for People </desc>
                <g>
              <path d="M425.3 324.8c-41.4-15.7-38.9-9.4-38.9-38.5 0-18.8 9.3-11.9 15.2-47.7 2.3-14.1 4.2-4.7 9.1-27.3 2.6-11.8-1.8-12.7-1.2-18.3.5-5.6 1-10.7 2-22.2 1.2-14.4-11.6-52-57.4-52s-58.6 37.6-57.4 52c.9 11.6 1.5 16.6 2 22.2.5 5.6-3.8 6.5-1.2 18.3 4.9 22.6 6.8 13.1 9.1 27.3 5.9 35.8 15.1 29 15.1 47.7 0 13.4 3.1 19-14.9 27.5 5.4 1.9 11.7 4.2 19.3 7.1 54.4 20.7 53.1 40.8 54.5 50.3 1 6.5 1.5 58.3 1.7 76.8H480s0-80.5-1.5-89.9c-1.1-7.4-11-17.2-53.2-33.3z"></path><path d="M357 448s0-14.1-.2-30.4c-.2-18.6-.7-40-1.7-46.4-1.5-9.5-14.3-22.2-68.6-42.9-7.5-2.8-13.8-5.1-19.3-7.1-33.3-11.8-30.9-15.7-30.9-48 0-24.3 12-8.5 19.6-54.6 3-18.2 5.4-6.1 11.7-35.2 3.4-15.2-2.3-16.4-1.6-23.7.7-7.3 1.4-13.8 2.6-28.7 1.6-18.5-14.9-67.1-74.1-67.1-59.2 0-75.6 48.5-74.1 67.1 1.2 14.9 1.9 21.4 2.7 28.7.7 7.3-5 8.4-1.6 23.7 6.4 29.1 8.8 17 11.8 35.2 7.6 46.1 19.5 30.3 19.5 54.6 0 37.6 3.3 34.8-50.2 55.1C48.3 349 35.5 361.7 34 371.2c-2 12.1-2 76.8-2 76.8h325z"></path>
                </g>
             </svg>
           </div>
          <span> People</span>
         </a>
      </li>

      </ul>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class='nav navbar-right'>
          <form class="text-center navbar-form quicksearch-form" autocomplete="off">
              {{quicksearchform}}
          </form>
          <div class='quicksearch-result-container'>
              <div id='quicksearch-result'>
              </div>
          </div>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}

{% block mainarticle %}

{% endblock %}

{% block aside %}
<div class='notification-box'>
  {% csrf_token %}
  <div id='notification-view' class='collapse'>

  </div>
  <h6 class='text-center'><a id='notification-toggle' data-toggle='collapse' href='#notification-view'>
    NOTIFICATIONS </a> <span id='notification-count'> {{notification_count|default:""}} </span></h6>
</div>
{% endblock %}
