{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<form class='profile-form' action='' method='post' enctype="multipart/form-data" >
<div class='col-sm-10 col-sm-offset-1 portfolio-container'>

    <div class='portfolio' >
      <button type='submit' class='btn btn-sm btn-default pull-right'>  Save all Changes</button>
      <h4><strong> Make Changes</strong></h4>
      <hr>
      {% csrf_token %}
      {{form.non_field_errors }}
      <div class='row'>
        <div class='col-md-3'>
        <div class='fieldWrapper'>
          {{form.x.errors}}
          {{form.x}}
          {{form.y.errors}}
          {{form.y}}
          {{form.width.errors}}
          {{form.width}}
          {{form.height.errors}}
          {{form.height}}

          <a class='btn' id='change_image'  data-toggle="modal" data-target="#modalCrop"> Change Profile Image </a>
          {{ form.image.errors }}

          <a id= 'clearImage' class='btn btn-sm btn-default'> clear </a>



        </div>
      </div>
      </div>
<hr>
          <div class='row'>
                <div class='col-md-3'>
                  <div class='fieldWrapper'>
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                  </div>
                </div>
                <div class='col-md-3'>
                  <div class='fieldWrapper'>
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='fieldWrapper'>
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                  </div>
                </div>
                <div class='col-md-6'>
		  <div class='fieldWrapper'>
                    {{ form.profession.errors }}
                    {{ form.profession.label_tag }}
                    {{ form.profession }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.location.errors }}
                    {{ form.location.label_tag }}
                    {{ form.location }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.facebook_link.errors }}
                    {{ form.facebook_link.label_tag }}
                    {{ form.facebook_link }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.twitter_link.errors }}
                    {{ form.twitter_link.label_tag }}
                    {{ form.twitter_link }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.youtube_link.errors }}
                    {{ form.youtube_link.label_tag }}
                    {{ form.youtube_link }}
                  </div>
                </div>

                <div class='col-md-6'>
                  <div class='fieldWrapper'>
                    {{ form.website.errors }}
                    {{ form.website.label_tag }}
                    {{ form.website }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.current_job.errors }}
                    {{ form.current_job.label_tag }}
                    {{ form.current_job }}
                  </div>
                  <div class='fieldWrapper'>
                    {{ form.introduction.errors }}
                    {{ form.introduction.label_tag }}
                    {{ form.introduction }}
                  </div>
                </div>
          </div>

          <div class='row'>
            <div class='col-md-12'>
              <div class='fieldWrapper'>
                {{ form.about_me.errors }}
                {{ form.about_me.label_tag }}
                <span id='maxCharacters'></span>
                {{ form.about_me }}
              </div>
            </div>

          </div>
          <br>


          <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
          <br>
          {{ form.image.label_tag }}
          {{ form.image }}
          <p id='fileError' class='row'></p>
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-sm btn-default js-zoom-in">
              Zoom In
            </button>
            <button type="button" class="btn-sm btn btn-default js-zoom-out">
             	Zoom Out
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Save Crop</button>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
</form>
  {%endblock%}
