{% extends 'users/portfolio_base.html'%}
{% load static from staticfiles%}
{% block body_tag%} class='home' {% endblock%}
{% block portfolio-body %}

<div class='col-sm-offset-3 col-sm-6 '>
  <div class='row'>
    {% if messages %}
       <ul class="list-unstyled ">
           {% for message in messages %}
           <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
    {% endif %}
  </div>
  <div class='text-center'>

    <img src='{{view_user.get_avatar}}' class='avatar '>

    <p class='user-intro'>{{view_user.get_introduction}}</p>


    <div class='center-block'>
     <a href = '{% url "about_me" username=view_user.username %}'> About me</a>
   </div>

  <div class='portfolio-actions'>
    <br>
    {% ifnotequal view_user request.user%}
    {% if friends %}
    <div class='tool dropdown'>
        <a role='button' class='btn btn-sm btn-default' data-toggle="dropdown" data-toggle='tooltip' data-placement="bottom" title="Network" >
          unfollow
        </a>
        <ul class='dropdown-menu'>
          <li class='text-center '><a href="{% url 'remove_network' username=view_user.username %}"> unfollow</a></li>
        </ul>
    </div>
    {% else%}
    {% if request_received %}
    <div class='row'>
      <p class='text-center center-block '> {{view_user.first_name}} sent you a request</p>
      <div class='center-block text-center'>
        <a href='{% url "decline_request" username=view_user.username %}' class='btn btn-sm btn-default' >Decline</a>
        <a href='{% url "accept_request" username=view_user.username%}' class='btn btn-sm btn-default' >Accept</a>
      </div>
      <br>
    </div>
    {% else %}
    {% if pending %}
    <div class='tool dropdown request-tool'>
      <a role='button' data-toggle="dropdown" data-toggle='tooltip' data-placement="bottom" title="Request"  class='btn btn-sm btn-default' >
        pending
      </a>
      <ul class='dropdown-menu'>
        <li class='text-center '><a href='{% url "delete_request" username=view_user.username%}'> Unsend Request</a></li>
      </ul>
    </div>
    {% else%}
    <a href='{% url "send_request" username=view_user.username%}' role='button' data-toggle='tooltip' data-placement="bottom" title="Send Request"  class='btn btn-sm btn-default' >
    Request
    </a>
    {% endif %}
    {% endif %}
    {% endif %}

    <a  href='{% url "recommend_action" username=view_user.username %}'class='btn btn-sm btn-default'> {% if recommended %} Remove{% else %} Recommend {% endif %}</a>
     {% endifnotequal %}
     <div class='dropdown' style='display: inline-block'>
       <a class='btn btn-sm btn-default' data-toggle='dropdown' data-toggle='tooltip' data-placement="bottom" title="Share Profile" aria-labelledby="title-share" role='img' >
         <title id='title-share'> Share this Profile</title>
         <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-android-share-alt'>
             <g>
               <path d="M383.822 344.427c-16.045 0-31.024 5.326-41.721 15.979l-152.957-88.42c1.071-5.328 2.142-9.593 2.142-14.919 0-5.328-1.071-9.593-2.142-14.919l150.826-87.35c11.762 10.653 26.741 17.041 43.852 17.041 35.295 0 64.178-28.766 64.178-63.92C448 72.767 419.117 44 383.822 44c-35.297 0-64.179 28.767-64.179 63.92 0 5.327 1.065 9.593 2.142 14.919l-150.821 87.35c-11.767-10.654-26.741-17.041-43.856-17.041-35.296 0-63.108 28.766-63.108 63.92 0 35.153 28.877 63.92 64.178 63.92 17.115 0 32.089-6.389 43.856-17.042l151.891 88.421c-1.076 4.255-2.141 8.521-2.141 13.847 0 34.094 27.806 61.787 62.037 61.787 34.229 0 62.036-27.693 62.036-61.787.001-34.094-27.805-61.787-62.035-61.787z"></path>
           </g>
        </svg>

        </a>
    <div class='dropdown-menu'>
      <li><a href="https://twitter.com/home?status=Check%20out%20{{view_user}}%20profile%20on%20dzcover%20{{view_user.get_full_absolute_url}}" target='_blank'>Share profile on Twitter</a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{view_user.get_full_absolute_url}}" target='_blank'>Share profile on Facebook</a></li>
      <li><a data-toggle='modal' data-target='#copy-link-modal'>Show link</a></li>
    </div>
  </div>
  {% ifequal view_user request.user %}
   <a class='btn btn-sm btn-default' href='{% url "profile_edit" %}' >
     <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-edit' aria-labelledby="title-edit desc-edit" role='img'>
       <title id='title-edit'> Edit</title>
       <desc id='desc-edit'> Edit your profile</desc>
       <g>
        <path d="M163 439.573l-90.569-90.569L322.78 98.656l90.57 90.569zM471.723 88.393l-48.115-48.114c-11.723-11.724-31.558-10.896-44.304 1.85l-45.202 45.203 90.569 90.568 45.202-45.202c12.743-12.746 13.572-32.582 1.85-44.305zM64.021 363.252L32 480l116.737-32.021z"></path>
      </g>
   </svg>
   </a>
   <div class="tool dropdown">
     <a href="#" class='btn btn-sm btn-default' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
       <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-gear' aria-labelledby="title-settings" role='img'>
          <title id='title-settings'> Settings</title>

           <g>
            <path d="M416.349 256.046c-.001-21.013 13.143-38.948 31.651-46.062a196.302 196.302 0 0 0-23.664-57.139 49.423 49.423 0 0 1-20.082 4.254c-12.621 0-25.238-4.811-34.871-14.442-14.863-14.863-18.248-36.846-10.18-54.97A196.274 196.274 0 0 0 302.074 64C294.971 82.529 277.027 95.69 256 95.69c-21.025 0-38.969-13.161-46.073-31.69a196.243 196.243 0 0 0-57.128 23.688c8.068 18.122 4.683 40.104-10.181 54.97-9.631 9.631-22.25 14.443-34.871 14.443a49.429 49.429 0 0 1-20.083-4.255A196.273 196.273 0 0 0 64 209.984c18.509 7.112 31.652 25.049 31.652 46.062 0 21.008-13.132 38.936-31.63 46.054a196.318 196.318 0 0 0 23.692 57.128 49.428 49.428 0 0 1 20.032-4.232c12.622 0 25.239 4.812 34.871 14.443 14.841 14.841 18.239 36.781 10.215 54.889a196.257 196.257 0 0 0 57.13 23.673c7.128-18.479 25.046-31.596 46.038-31.596 20.992 0 38.91 13.115 46.037 31.596a196.234 196.234 0 0 0 57.132-23.675c-8.023-18.106-4.626-40.046 10.216-54.887 9.629-9.632 22.248-14.444 34.868-14.444 6.836 0 13.67 1.411 20.033 4.233a196.318 196.318 0 0 0 23.692-57.128c-18.498-7.119-31.629-25.048-31.629-46.054zM256.9 335.9c-44.3 0-80-35.9-80-80 0-44.101 35.7-80 80-80 44.299 0 80 35.899 80 80 0 44.1-35.701 80-80 80z">
          </path>
        </g>
     </svg>
   </a>
     <ul class="dropdown-menu">
           <li><a href = '{% url "job:posted" username=view_user.username %}'> Post Jobs</a></li>
           <li><a href="{% url 'help' %}">Help</a></li>
           <li><a href="{% url 'view_account' username=view_user.username%}"> Account </a></li>
           <li role="separator" class="divider"></li>
           <li><a href="{% url 'logout'%}">Log Out</a></li>
     </ul>
   </div>
   {% endifequal %}
 </div>


  <div class='modal' id ='copy-link-modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
            <h5> Link to Profile </h5>
        </div>
        <div classs='modal-body'>
         <a href='{{view_user.get_full_absolute_url}}'>{{view_user.get_full_absolute_url}}</a>
                 </div>
        <div class='modal-footer'>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div>
    <ul class='list-unstyled list-inline text-center portfolio-social-icon'>
        <li><a href='{{view_user.get_website}}' target='_blank'>
          <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26 {% if view_user.website%}ion-social-active{% endif %}' viewBox="0 0 512 512"  id='ion-web' aria-labelledby="title-website desc-website" role='img'>
            <title id='title-website'> Website</title>
            <desc id='desc-website'> Profiles website</desc>
          <g>
            <path d="M256 48C141.124 48 48 141.125 48 256s93.124 208 208 208c114.875 0 208-93.125 208-208S370.875 48 256 48zm-21.549 384.999c-39.464-4.726-75.978-22.392-104.519-50.932C96.258 348.393 77.714 303.622 77.714 256c0-42.87 15.036-83.424 42.601-115.659.71 8.517 2.463 17.648 2.014 24.175-1.64 23.795-3.988 38.687 9.94 58.762 5.426 7.819 6.759 19.028 9.4 28.078 2.583 8.854 12.902 13.498 20.019 18.953 14.359 11.009 28.096 23.805 43.322 33.494 10.049 6.395 16.326 9.576 13.383 21.839-2.367 9.862-3.028 15.937-8.13 24.723-1.557 2.681 5.877 19.918 8.351 22.392 7.498 7.497 14.938 14.375 23.111 21.125 12.671 10.469-1.231 24.072-7.274 39.117zm147.616-50.932c-25.633 25.633-57.699 42.486-92.556 49.081 4.94-12.216 13.736-23.07 21.895-29.362 7.097-5.476 15.986-16.009 19.693-24.352 3.704-8.332 8.611-15.555 13.577-23.217 7.065-10.899-17.419-27.336-25.353-30.781-17.854-7.751-31.294-18.21-47.161-29.375-11.305-7.954-34.257 4.154-47.02-1.417-17.481-7.633-31.883-20.896-47.078-32.339-15.68-11.809-14.922-25.576-14.922-42.997 12.282.453 29.754-3.399 37.908 6.478 2.573 3.117 11.42 17.042 17.342 12.094 4.838-4.043-3.585-20.249-5.212-24.059-5.005-11.715 11.404-16.284 19.803-24.228 10.96-10.364 34.47-26.618 32.612-34.047s-23.524-28.477-36.249-25.193c-1.907.492-18.697 18.097-21.941 20.859.086-5.746.172-11.491.26-17.237.055-3.628-6.768-7.352-6.451-9.692.8-5.914 17.262-16.647 21.357-21.357-2.869-1.793-12.659-10.202-15.622-8.968-7.174 2.99-15.276 5.05-22.45 8.039 0-2.488-.302-4.825-.662-7.133a176.585 176.585 0 0 1 45.31-13.152l14.084 5.66 9.944 11.801 9.924 10.233 8.675 2.795 13.779-12.995L282 87.929V79.59c27.25 3.958 52.984 14.124 75.522 29.8-4.032.361-8.463.954-13.462 1.59-2.065-1.22-4.714-1.774-6.965-2.623 6.531 14.042 13.343 27.89 20.264 41.746 7.393 14.801 23.793 30.677 26.673 46.301 3.394 18.416 1.039 35.144 2.896 56.811 1.788 20.865 23.524 44.572 23.524 44.572s10.037 3.419 18.384 2.228c-7.781 30.783-23.733 59.014-46.769 82.052z">
            </path>
            </g>
          </svg>
        </a></li>
        <li><a href='{{view_user.get_twitter}}' target='_blank'>
          <title id='title-twitter'> Twitter Account</title>
        <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26 {% if view_user.twitter_link%}ion-social-active{% endif %}' viewBox="0 0 512 512"  id='ion-ios-twitter-outline'  aria-labelledby="title-twitter" role='img'>
          <g>
          <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5-17.7-18.9-43-30.7-70.7-30.7-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-152-42.6-199.7-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.1 63.3 43.1 80.7C67 210.7 52 206.3 39 199v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.5 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.5 146 479 129 492 109.5zm-57.8 37.2l-7 5.1.4 8.6c.2 3.8.3 7.8.3 11.8 0 30.2-5.9 61.8-17 91.5-11.7 31.2-28.5 59.4-50 83.8-23 26.1-50.2 46.5-81.1 60.8-33.8 15.7-71.3 23.6-111.5 23.6-28.9 0-57.4-4.8-84.5-14.2 9.9-1.9 19.6-4.6 29.1-7.9 21.7-7.6 41.9-18.7 60.1-33l35.3-27.7-44.9-.8c-26.1-.5-49.7-13.4-64.3-33.9 7.3-.5 14.5-1.8 21.5-3.7l60.7-20.2-61.7-10.9c-29.6-5.9-52.8-27.9-61.3-55.8 7.8 2 15.4 2.8 23.9 3.3 0 0 31.8 1.4 55.8-.1-13-6.2-46.4-29.2-46.4-29.2-22.5-15.1-36-40.2-36-67.4 0-6.4.8-12.8 2.2-19 21.9 22.4 47 41.1 75.1 55.5 37 19.1 76.9 29.8 118.6 31.9l21.2 1.1-4.8-20.7c-1.4-5.9-2.1-12.1-2.1-18.5 0-44.4 36.3-80.7 80.9-80.7 22.3 0 43.8 9.3 59 25.6l6.1 6.5 8.7-1.7c4.5-.9 8.9-1.9 13.3-3.1-1 1.4-5.7 6.1-11 10.8-4.5 4-17.8 16.5-17.8 16.5s13 4.1 21.1 5c8.1.9 17.4-.6 18.9-.8-2.8 2.3-7.8 5.8-10.8 7.9z">
          </g>
          </svg>
        </a></li>
        <li><a href='{{view_user.get_facebook}}' target='_blank'>
          <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26 {% if view_user.facebook_link%}ion-social-active{% endif %}' viewBox="0 0 512 512"  id='ion-ios-facebook-outline'  aria-labelledby="title-facebook" role='img'>
            <title id='title-facebook'> Facebook Account </title>
            <g>
              <path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64zm42.2 48H272v192h-51V240h-45v-32h45v-58.7c0-24.5 5.4-41.2 15.5-51.8 11.2-12 31.1-17.5 59.6-17.5H336v32h-17.5c-12 0-27.5 1.1-37.1 11.7-8.1 9-9.4 20.1-9.4 30.1V208h62l-3.8 32z"></path>
            </g>
          </svg>

          </a></li>
        <li><a href='{{view_user.get_youtube}}' target='_blank'>
          <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26 {% if view_user.youtube_link%}ion-social-active{% endif %}' viewBox="0 0 512 512"  id='ion-ios-youtube'  aria-labelledby="title-youtube" role='img'>
            <title id='title-youtube'> Youtube Account </title>

            <g>
            <path d="M508.6 148.8c0-45-33.1-81.2-74-81.2C379.2 65 322.7 64 265 64h-18c-57.6 0-114.2 1-169.6 3.6C36.6 67.6 3.5 104 3.5 149 1 184.6-.1 220.2 0 255.8c-.1 35.6 1 71.2 3.4 106.9 0 45 33.1 81.5 73.9 81.5 58.2 2.7 117.9 3.9 178.6 3.8 60.8.2 120.3-1 178.6-3.8 40.9 0 74-36.5 74-81.5 2.4-35.7 3.5-71.3 3.4-107 .2-35.6-.9-71.2-3.3-106.9zM207 353.9V157.4l145 98.2-145 98.3z"></path>
          </g>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock%}
