<div class='row'>
  <div class='col-sm-6 col-sm-offset-3 '>
  <form action ='' method = 'GET' class='discover-people-form'>
    <div class='form-group form-inline text-center'>
      <div class="input-group">
      {{form}}
       <div class="input-group-btn">
        <button class='btn btn-default form-control'>
          <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-18' viewBox="0 0 512 512"  id='ion-search'>
              <g>
          <path d="M445 386.7l-84.8-85.9c13.8-24.1 21-50.9 21-77.9C381.2 135.3 310 64 222.6 64 135.2 64 64 135.3 64 222.9c0 87.6 71.2 158.9 158.6 158.9 27.9 0 55.5-7.7 80.1-22.4l84.4 85.6c1.9 1.9 4.6 3.1 7.3 3.1s5.4-1.1 7.3-3.1l43.3-43.8c4-4.1 4-10.5 0-14.5zM222.6 125.9c53.4 0 96.8 43.5 96.8 97s-43.4 97-96.8 97-96.8-43.5-96.8-97 43.4-97 96.8-97z"></path>
        </g>
        </svg>
        </button>
      </div>
    </div>
    </div>
  </form>
</div>
</div>
  <div class='people-container'>
      <div class='row'>
        {% if people%}

        <ul class='list-unstyled '>

          {% for person in people %}

           <li class='person-card col-sm-6' data-username= '{{ person.username }}'>
               <div class='text-center'>
                   <img class='avatar-md' src='{{person.get_avatar}}'/>
                 <h4><a href='{{person.get_absolute_url}}' class='text-center'> <strong>  {{person.get_full_name|truncatechars:35}}</strong> </a></h4>
                 <p class='person-info'>{{person.get_profession|truncatechars:35}}</p>
               </div>
           </li>
          {% endfor %}
          <ul class="pagination center-block text-center">
              {% if people.paginator.num_pages > 1 %}
              <span class="step-links custom-step-links">

                {% if people.has_previous %}
                <a class='btn-sm btn page-previous' href="?search_people={{request.GET.search_people}}&amp;page={{ people.previous_page_number }}"><i class="icon ion-ios-arrow-thin-left"></i> <strong>Prev </steong></a>
                {% endif %}

                {% if people.has_next %}
                <a class='btn-sm btn page-next' href="?search_people={{request.GET.search_people}}&amp;page={{ people.next_page_number }}"><strong>Next </steong><i class="icon ion-ios-arrow-thin-right"></i></a>
                {% endif %}

              </span>
              {% endif %}
            </ul>
        </ul>
          {% else%}
          {% if request.GET.search_people %}
          <p class='text-center'> we could not find <i>{{ request.GET.search_people}} </i> </p>
          {% endif %}
          {% endif %}
      </div>
    </div>
