{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block add-css%}
<link href= "{% static 'css/portfolio.base.css' %}" rel='stylesheet' type='text/css'>
{%endblock%}

{% block mainarticle %}
<div>
  <nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav-portfolio-container">

              <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-24' viewBox="0 0 512 512"  id='ion-grid' aria-labelledby="title-menu title-desc" role="menu">
                <title id='title-menu'> Menu </title>
                <desc id='desc-menu'> Menu Icon to Home, Notes and Photos</desc>
              <g>
              <path d="M160 153.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM288 153.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM416 153.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5z"></path><g><path d="M160 281.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM288 281.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM416 281.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5z"></path></g><g><path d="M160 409.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM288 409.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5zM416 409.3c0 3.7-3 6.7-6.7 6.7h-50.5c-3.7 0-6.7-3-6.7-6.7v-50.5c0-3.7 3-6.7 6.7-6.7h50.5c3.7 0 6.7 3 6.7 6.7v50.5z"></path></g>
            </button>
            </g>
            </svg>
            <div class='profile-name'>
              <h4><strong>{{view_user.get_header}}</strong></h4>
            </div>
        </div>
      <div class="collapse navbar-collapse" id="nav-portfolio-container">
          <div class='row'>
              <ul class='nav nav-portfolio navbar-right navbar-nav text-center' >
               <li><a href='{{view_user.get_absolute_url}}' class='home'><strong>HOME</strong></a></li>
               <li><a href = '{% url "notes:view_notes" username=view_user.username %}' class='notes'><strong>NOTES</strong></a></li>
               <li><a href = '{% url "album:view_album" username=view_user.username %}' class='album'><strong>PHOTOS</strong></a></li>
              </ul>
          </div>
      </div>
    </div>
</nav>


{% block portfolio-body%}
{% endblock %}

</div>
{% endblock %}
