{% extends 'users/container.html'%}
{% load static from staticfiles%}

{% block mainarticle %}
<h5 class='text-center'><a href='{% url "view_recommended" username=view_user.username%}'><strong> People who recommend {{view_user.first_name}} </strong> </a></h5>
<div class='col-md-3'>
  <div class='text-center'>
    <p> Hey {{request.user.first_name}}, invite your Friends </p>
    <ul class='list-unstyled list-inline'>
    <li><a href="https://twitter.com/home?status=Hey,%20join%20Dzcover%20{{SITE_URL}}" target='_blank'>
      <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26' viewBox="0 0 512 512"  id='ion-ios-twitter-outline' aria-labelledby="title-twitter">
        <title id='title-facebook'> Share on Twitter</title>
      <g>
      <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5-17.7-18.9-43-30.7-70.7-30.7-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-152-42.6-199.7-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.1 63.3 43.1 80.7C67 210.7 52 206.3 39 199v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.5 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.5 146 479 129 492 109.5zm-57.8 37.2l-7 5.1.4 8.6c.2 3.8.3 7.8.3 11.8 0 30.2-5.9 61.8-17 91.5-11.7 31.2-28.5 59.4-50 83.8-23 26.1-50.2 46.5-81.1 60.8-33.8 15.7-71.3 23.6-111.5 23.6-28.9 0-57.4-4.8-84.5-14.2 9.9-1.9 19.6-4.6 29.1-7.9 21.7-7.6 41.9-18.7 60.1-33l35.3-27.7-44.9-.8c-26.1-.5-49.7-13.4-64.3-33.9 7.3-.5 14.5-1.8 21.5-3.7l60.7-20.2-61.7-10.9c-29.6-5.9-52.8-27.9-61.3-55.8 7.8 2 15.4 2.8 23.9 3.3 0 0 31.8 1.4 55.8-.1-13-6.2-46.4-29.2-46.4-29.2-22.5-15.1-36-40.2-36-67.4 0-6.4.8-12.8 2.2-19 21.9 22.4 47 41.1 75.1 55.5 37 19.1 76.9 29.8 118.6 31.9l21.2 1.1-4.8-20.7c-1.4-5.9-2.1-12.1-2.1-18.5 0-44.4 36.3-80.7 80.9-80.7 22.3 0 43.8 9.3 59 25.6l6.1 6.5 8.7-1.7c4.5-.9 8.9-1.9 13.3-3.1-1 1.4-5.7 6.1-11 10.8-4.5 4-17.8 16.5-17.8 16.5s13 4.1 21.1 5c8.1.9 17.4-.6 18.9-.8-2.8 2.3-7.8 5.8-10.8 7.9z">
      </g>
      </svg>
      </path>
    </a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{SITE_URL}}" target='_blank'>
      <svg  xmlns="http://www.w3.org/2000/svg" width="512px" height="512px"  class='ion ion-26' viewBox="0 0 512 512"  id='ion-ios-facebook-outline' aria-labelledby="title-facebook">
        <title id='title-facebook'> Share on Facebook</title>
      <g>
        <path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64zm42.2 48H272v192h-51V240h-45v-32h45v-58.7c0-24.5 5.4-41.2 15.5-51.8 11.2-12 31.1-17.5 59.6-17.5H336v32h-17.5c-12 0-27.5 1.1-37.1 11.7-8.1 9-9.4 20.1-9.4 30.1V208h62l-3.8 32z"></path>
      </g>
      </svg>
    </a></li>
  </ul>
  <ul class='list-unstyled list-inline'>
  <li><a href="https://twitter.com/home?status=Hey,%20join%20Dzcover%20{{SITE_URL}}" target='_blank'><i class="icon ion-social-twitter-outline ion-custom"></i></a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{SITE_URL}}" target='_blank'><i class="icon ion-social-facebook-outline ion-custom"></i></a></li>
</ul>
</div>
</div>

<div class='col-xs-12 col-sm-6'>
{% include 'users/list_people.html' %}
</div>
{%endblock%}
