{% extends 'others/others-template.html' %}
{% block section %}
<h3> Dzcover-Cookies </h3>
<p>Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the Service, your choices regarding cookies and further information about cookies.</p>

<p> Dzcover ("us", "we", or "our") operates the www.dzcover.com website (the "Service").

<h4><strong> What are cookies? </strong></h4>
<p>
  Cookies are small pieces of text sent to your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.
  Cookies can be "persistent" or "session" cookies. Persistent cookies remain on your personal computer or mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.
</p>
<h4><strong> How Dzcover uses cookies </strong> </h4>
<p>When you use and access the Service, we may place a number of cookies files in your web browser.
We use cookies for the following purposes:</p>

  <ul class='list-unstyled'>
  <li>We collect Personal Information that is necessary to fulfill the following purposes:
  <li>To enable certain functions of the Service;</li>
  <li>To enable advertisements delivery, including behavioral advertising;</li>
  <p>We use both session and persistent cookies on the Service and we use different types of cookies to run the Service:</p>
  <li>Essential cookies. We may use essential cookies to authenticate users and prevent fraudulent use of user accounts.
    Preferences cookies. We may use preferences cookies to remember information that changes the way the Service behaves or looks, such as the "remember me" functionality of a registered user or a user's language preference;
</li>
  <li>Advertising cookies. These type of cookies are used to deliver advertisements on and through the Service and track the performance of these advertisements. These cookies may also be used to enable third-party advertising networks to deliver ads that may be relevant to you based upon your activities or interests.;</li>
</ul>

<h4><strong> Third-party cookies </strong> </h4>
<p> In addition to our own cookies, we may also use various third-parties cookies to report usage statistics of the Service, deliver advertisements on and through the Service, and so on.</p>

<h4><strong>What are your choices regarding cookies</strong></h4>
<p>If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser.</p>
<p>Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.</p>

<h4><strong>Where can you find more information about cookies</strong></h4>
<p>You can learn more about cookies with the following third-party website http://www.allaboutcookies.org/ </p>

{% endblock %}
