{% extends 'others/others-template.html' %}
{% block section %}
<h3> Welcome to Dzcover </h3>
<br>
<h4><strong> Help </strong></h4>
<br>
<h5><strong> Why Join</strong> </h5>
<p> At Dzcover we have taken time to develop a service that will enable people to express themselves better and find secure Jobs around them</p>
<p> What matters to us is seeing you are able to create a platform for yourself.</p>
<p> Jobs on Dzcover are posted by trained and skilled professionals we have authorized. </p>
<br>
<h5><strong> Creating an Account</strong></h5>
<p> Creating an account is FREE. We require the following information in our registration process:
  <ul >
    <li> A valid email address- This will be used to login and for verification purposes. </li>
    <li> A unique username - Your username will give you a unique profile link on dzcover. </li>
    <li> First name, Last name, Password and Profession. </li>
  </ul>

<h5> <strong> Managing your Account</strong> </h5>
<p> An active user can update information, upload photos, write notes, search and access jobs on dzcover. </p>

<h6><strong> Home</strong></h6>
<p> Your Home page is what people first see when they visit your profile. It includes an introductory message including your social media accounts. </p>

<h6><strong> Edit</strong></h6>
<p> To edit your profile click the pen icon in your home page.</p>


<h6><strong> Share</strong></h6>
<p> A users profile can be shared on any media by clicking the share icon on the users home page.</p>

<h6><strong> Netwoking</strong></h6>
<p> You can network with any user by sending a network request.</p>
<p> A network request will show as pending on the home page of the user you requested. To unsed a request click on the pending button</p>
<p> A user is immediately notified when a network request is made and can accept and decline a request. A request declined is not made known to the other user </p>


<h6><strong> Recommendation</strong></h6>
<p> Recommendation is a way in which people can praise/acknowledge/credit your profile.</p>
<p> A user can only recommend up to 20 people and the profiles recommended can be seen in users <i>about me</i> page.</p>
<p> A user can unrecommend another user with no notifcation sent to the other user. </p>
<p> You can view people that recommend you on your <i>about me </i> page. </p>

<h6><strong> About Me</strong></h6>
<p> Your about me page contains more information about you. Information found includes current job, location, professsion,
people that recommend and network with you, people you recommend and an <i>about me</i> section written by you.</p>

<h6><strong> Notes </strong></h6>
<p> Notes is where you can blog or write about any topic of interest. Your notes can be accessed by people who visit your profile, and can be shared on any platform of your choice. </p>
<p> You can update and delete your notes at any time. </p>
<p> Your note's views count is relative to the number of people with active accounts on dzcover that view your note. </p>

<h6><strong> Photos </strong></h6>
<p> With photos you can make your profile more engaging and show proof of your work.</p>
<p> You can delete your photos at any time. </p>


<h6><strong> Jobs </strong></h6>
<p> Jobs on dzcover ar eposted by authorized accounts, inorder to facilitate a secure environment. </p>
<p> You can search for jobs in dzcover. Remember however to include your cities full name for effective result.</p>
<p> To find out how you can post jobs visit <a href='{% url "job:guide" %}'>post jobs on dzcover. </a></p>

<h6><strong> Notifications </strong></h6>
<p> Currently a user receives notifications for the following reasons: </p>
<ul>
  <li> A network request received. </li>
  <li> A network request accepted. </li>
  <li> A recommendation from another user.</li>
</ul>

<h6><strong> People</strong></h6>
<p> You can search and network with other users on dzcover </p>

<h6><strong> Account Termination</strong></h6>
<p> You may terminate your dzcover account at any time:
  <ul>
    <li> Go to your home page.</li>
    <li> Click the setting icon. </li>
    <li> Click the accounts option.</li>
    <li> Click on deactivate account.</li>
  </ul>

<p> Signing off we hope you enjoy and create a positive space for yourself at dzcover. </p>

{% endblock %}
