{% extends 'others/others-template.html' %}
{% block section %}
<h3><strong> Dzcover- Jobs </strong></h3>

<p> At Dzcover providing job opportunities is the challenge we have taken. We aim to provide secure and current jobs to all our members. </p>
<p> We are thrilled to add more trained and professional recruiters to our service. </p>
<br>


<h4><strong> How to post Jobs?</strong></h4>
<h6><strong> Click the settings icon on your home page to find the post jobs option.</strong></h6>
<p> We offer two ways to get your jobs posted for free on Dzcover: </p>
<p> You can either submit a request to post jobs regularly or send us an email with the job position to be filled. </p>
<br>
<h5><strong> Request to post jobs regularly</strong> </h5>
<p> Your account has to be authorized inorder to start posting Jobs for free on dzcover.</p>
<p> We require you send an email to <a>support@dzcover.com</a> with the following information:</p>
  <ul class='list-unstyled'>
    <li> 1. Your active Email account on dzcover</li>
    <li> 2. Your username on dzcover</li>
    <li> 3. A professional summary of why you would be posting jobs (i.e if you are a recuiter, company e.t.c).</li>
    <li> 4. A proof of identity: such as a scanned image of your company id/recruiting card.</li>
  </ul>
<p> The process of verification may take 2/3 days, but in rare cases may take up to a week.</p>
<h6><strong> Note: We will only send a confirmation email to those users who we authorize.</strong></h6>
<br>
<h5><strong> Sending an email for your job position </strong></h5>
<p>To have your job posted by our team at Dzcover send an email to <a>support@dzcover.com</a> with the following information: </p>
<ul>
<li> Name of company offering the required job position.</li>
<li> A summary of the company.</li>
<li> Position offered.</li>
<li> Profession required.</li>
<li> Qualification required.</li>
<li> Description of position.</li>
<li> Any extra information regarding the position being filled and how to apply.</li>
<li> An optional link to the original job post.</li>
<li> How long the Job position should last on our website (7-90 days).</li>
</ul>

<h4><strong> Managing Jobs You Post</strong></h4>
<p> Jobs posted require an expiration day between 7-90 days. </p>
<p> Jobs can be created, deleted and updated by you at any time. </p>


{% endblock %}
