{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css%}
<link href='{% static "css/others.css" %}' rel='stylesheet' type='text/css'>
{%endblock%}
{% block mainarticle %}


<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href='/'>
    <img src="{% static 'images/logo/small-logo.png'%}" width="30" height="30" class="d-inline-block align-top pull-left" alt="">
    dzcover
  </a>
</nav>

{% block section %}
{% endblock %}
{% endblock %}
