{% extends 'others/others-template.html' %}
{% block section %}
<h3> Dzcover Privacy Policy </h3>
<p> At Dzcover we aim to provide a platform where people can express themselves and get access to secure jobs in a meaningful and social rich manner. Inorder to do so we collect and share personal information according to this privacy policy</p>

<p> Dzcover ("us", "we", or "our") operates the www.dzcover.com website (the "Service").

<h4><strong> What Information do we collect? </strong></h4>
<p>
Personal Information may include your name, email address,marital status, education, employment information.
We are committed to providing our members ("you", "your" or "them") with exceptional service. </p>

<h4><strong> Why do we collect this Information? </strong> </h4>
  <ul class='list-unstyled'>
  <li>We collect Personal Information that is necessary to fulfill the following purposes:
  <li>To verify identity;</li>
  <li>To identify your preferences;</li>
  <li>To open and manage an account;</li>
  <li>To ensure you receive a high standard of service;</li>
  <li>To share with parties who help in our service;</li>
  <li>To meet regulatory requirements for job posters;</li>
  <p>Other legal reasons as apply to our services.</p>
</ul>

<h4><strong> How is information collected shared? </strong> </h4>
<p> We are committed to ensuring the security of your Personal Information and may use passwords, encryption, firewalls, restricted employee access or other methods, in our discretion</p>
<p> Your consent may be required to collect, use or disclose Personal Information such as when you authorize a third part app to to collect this information.</p>
<p> However, in other to provide and maintain our service, some information you provide us may be shared.
<p>Some cases in which we share your information include: </p>
<ul class='list-unstyled'>

<li>We share your Personal Information to other parties who help us with the services with provide. </p>
<li>We may collect and share information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</li>
<li><h5><strong>Cookies</strong></h5>
Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service. If you do not instruct your browser to refuse all cookies or to indicate when a cookie is being sent, your consent to our use of your Personal Information may be implied.

<li><h5><strong>Service Providers</strong></h5>
We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
</li>
<li> <h5><strong>Law</strong> </h5>
We may preserve or disclose your information in compliance to a law, regulation, legal process, or governmental request.
</li>

<li> <h5><strong>Advertisement</strong> </h5>
In order to maintain our services we allow advertisement within it. We may use some of the information you provide to provide meaningful ads to you </li>
We may preserve or disclose your information in compliance to a law, regulation, legal process, or governmental request.
</li>
<p> You can provide consent orally, in writing, electronically or through an authorized representative about how we share your information.</p>
</ul>

<h4><strong>International Transfer</strong></h4>

<p>Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
If you are located outside Canada and choose to provide information to us, please note that we transfer the information, including Personal Information, to Canada and process it there.
Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>

<h4><strong>Links To Other Sites</strong></h4>
<p>Our Service contain links such as <i> Links to job</i> to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services. </p>

<h4><strong> Children's Privacy</strong></h4>
<p>We do not knowingly collect personally identifiable information from Minors. If you are a parent or guardian and you are aware that your Minor has provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from Minors without verification of parental consent, we take steps to remove that information from our servers.</p>

<h4>Changes To This Privacy Policy</h4>
<p> We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website. </p>
<p> Last updated: June 29, 2017</p>
<h4>Contact Us</h4>
<p>If you have any questions about this Privacy Policy, please contact <a>support@dzcover.com</a></p>

{% endblock %}
