{% extends 'others/others-template.html' %}


{% block section %}
{% if valid_link %}
<h3> Welcome to Dzcover </h3>
<p>Your account has been <b>successfully</b> activated. You can now <a href='/'>log in </a>.
{% endif %}

{% if invalid_link %}
<h3> Invalid Link </h3>
<p> Sorry, there seems to be a problem with this link. Either it has been used or expired. </p>
<p> Try resending a verification code? </p>

<div class='row'>
<div class='col-md-4 profile-form'>
  <form method='post' action='{% url "resend_activation" %}'>
  {% csrf_token %}
  {{form}}
  <button class='btn btn-sm btn-default'> Send </button>
  </form>
</div>
</div>

<br>
<p> Check your email for the verification code</p>
<p> If the problem persist email support@dzcover.com </p>
{% endif %}
{% endblock %}
