{% extends 'others/others-template.html' %}
{% block section %}
<h3> Dzcover- Terms and Conditions </h3>
<p> These Terms of Service (“Terms”) govern your access to and use of all of our services</p>
<p> Your access to and use of the Service is based on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
<p> By accessing or using the Service you agree to be bound by these Terms and accept all legal consequences. If you do not agree to these terms and conditions, in whole or in part, please do not use the Service. </p>

<p> Dzcover ("us", "we", or "our") operates the www.dzcover.com website (the "Service").

<h4><strong>Content</strong></h4>
<p>
  Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness.
  <p>
  <p>By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>
  <p>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.
  </p>
  <p>
  We reserve all rights to block or remove communications or materials that we determine to be: (a) abusive, defamatory, or obscene; (b) fraudulent, deceptive, or misleading; (c) in violation of a copyright, trademark or, other intellectual property right of another or; (d) offensive or otherwise unacceptable to us in our sole discretion.
</p>
  <p>
  You acknowledge that, by providing you with the ability to view and distribute user-generated content on the Service, we are merely acting as a passive conduit for such distribution and is not undertaking any obligation or liability relating to any contents or activities on the Service.
</p>


<h4><strong> Accounts </strong> </h4>
<p>
When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
</p>
<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
</p>
<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
</p>
<p>You may not use as a username the name or email of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.
</p>

<h4><strong> Intellectual Property </strong> </h4>

<p>The Service and all contents, including but not limited to text, images, graphics or code are the property of Dzcover and are protected by copyright, trademarks, database and other intellectual property rights. You may display and copy, download or print portions of the material from the different areas of the Service only for your own non-commercial use. Any other use is strictly prohibited and may violate copyright, trademark and other laws. These Terms do not grant you a license to use any trademark of Dzcover or its affiliates. You further agree not to use, change or delete any proprietary notices from materials downloaded from the Service.
</p>

<h4><strong>Links To Other Web Sites</strong></h4>
<p>
The Service may contain links to third-party web sites or services that are not owned or controlled by Dzcover. We do our best to maintain high standards of Jobs posted on Dzcover by verifying that the post is made by a person/recruiter we deem valid
however we have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Dzcover shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.
We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
</p>

<h4><strong>Termination</strong></h4>

<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms.</p>
<p>All provisions of the Terms shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>


<h4><strong> Governing Law</strong></h4>
<p>
These Terms shall be governed by, and interpreted and enforced in accordance with, the laws in the Province of Ontario and the laws of Canada, as applicable.</p>
<p>If any provision of these Terms is held to be invalid or unenforceable by a court of competent jurisdiction, then any remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements, oral or otherwise, regarding the Service.
</p>

<h4><strong> Disclaimers </strong></h4>
<p>You understand and agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis.
Your access to and use of the Services or any Content are at your own risk.
<p> DZCOVER DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>
</p>
<h5><strong>Limitation of Liability</strong></h5>
<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, DZCOVER SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES FROM YOUR ACCESS TO OUR SERVICES</p>

<h4>Changes</h4>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will make reasonable efforts to provide at least 7 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, in whole or in part, please stop using the website and the Service.

</p>
<p><strong>Effective: July 1, 2017</strong></p>
<h4>Contact Us</h4>
<p>If you have any questions about these Terms, please contact us.
 <a>support@dzcover.com</a></p>

{% endblock %}
